* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.modal--login .body__siderbar1 .heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container-fluid .row__row--sec2 .menu__2 ul li a:before, .container-fluid .row__row--sec3 .menu__2 ul li a:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0%;
  background: #f8dd5a;
  transition: .5s ease-in-out; }

.container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title button:before, .contentBig .row--section3 .owl--carousel .item .content__p2 button button:before, .contentBig .row--section5 .content__p1 .content-title button:before, .contentBig .row--section9 .content button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #3e3e3e;
  z-index: -1;
  transition: .5s ease-out; }

.contentBig .row--section3 .owl--carousel .owl-nav .owl-prev:before, .contentBig .row--section3 .owl--carousel .owl-nav .owl-next:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #f8dd5a;
  z-index: -1;
  transition: .5s ease-out; }

.contentBig .row--section3 .owl--carousel .owl-nav .owl-prev, .contentBig .row--section3 .owl--carousel .owl-nav .owl-next {
  margin: 0;
  border-left: 1px solid #fff;
  background: #303033;
  padding: 15px 21px !important;
  position: relative;
  transition: .5s ease-in-out;
  z-index: 2; }

body {
  padding: 0;
  width: 100%;
  background-repeat: no-repeat; }

.container-fluid {
  max-width: 1440px;
  margin: auto;
  padding-right: 0;
  padding-left: 0;
  background-image: url(../image/backgound1.png);
  overflow: hidden; }
  .container-fluid .row--section {
    height: 10px;
    width: 100%;
    margin: 0; }
    .container-fluid .row--section .col--flex {
      display: flex;
      flex-direction: row;
      padding: 0; }
      .container-fluid .row--section .col--flex .color__1 {
        width: 30%;
        height: 100%;
        background: #26262a; }
      .container-fluid .row--section .col--flex .color__2 {
        width: 70%;
        height: 100%;
        background: #f9de5a; }
  .container-fluid .row__row--sec2 {
    max-width: 1240px;
    margin: auto;
    margin-bottom: 20px; }
    .container-fluid .row__row--sec2 .menu {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .container-fluid .row__row--sec2 .menu__1 {
        width: 10%; }
        .container-fluid .row__row--sec2 .menu__1 img {
          padding: 50px 0; }
      .container-fluid .row__row--sec2 .menu__2 {
        width: 90%;
        text-align: right; }
        .container-fluid .row__row--sec2 .menu__2 ul {
          list-style-type: none; }
          .container-fluid .row__row--sec2 .menu__2 ul li {
            padding: 50px 22px;
            display: inline-table;
            cursor: pointer;
            font-size: 12px; }
            .container-fluid .row__row--sec2 .menu__2 ul li button {
              color: #fff;
              background-color: unset;
              border-color: unset;
              border: none; }
            .container-fluid .row__row--sec2 .menu__2 ul li button:hover {
              background: unset; }
            .container-fluid .row__row--sec2 .menu__2 ul li a {
              position: relative;
              transition: .5s ease-in-out; }
            .container-fluid .row__row--sec2 .menu__2 ul li a:hover:before {
              width: 100%; }
            .container-fluid .row__row--sec2 .menu__2 ul li a:hover {
              color: #3e3e3e; }
          .container-fluid .row__row--sec2 .menu__2 ul .li--last {
            padding-right: 0; }
          .container-fluid .row__row--sec2 .menu__2 ul .li--hid {
            display: none; }
  .container-fluid .row__row--sec3 {
    max-width: 1240px;
    margin: auto;
    margin-bottom: 12px; }
    .container-fluid .row__row--sec3 .menu {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .container-fluid .row__row--sec3 .menu__1 {
        width: 20%;
        text-align: left; }
        .container-fluid .row__row--sec3 .menu__1 img {
          padding: 55px 0; }
      .container-fluid .row__row--sec3 .menu__2 {
        width: 80%;
        text-align: right; }
        .container-fluid .row__row--sec3 .menu__2 ul {
          list-style-type: none; }
          .container-fluid .row__row--sec3 .menu__2 ul li {
            padding: 55px 18px;
            display: inline-table; }
            .container-fluid .row__row--sec3 .menu__2 ul li button {
              color: #fff;
              background-color: unset;
              border-color: unset; }
            .container-fluid .row__row--sec3 .menu__2 ul li a {
              text-decoration: none;
              color: #a8abaf;
              text-transform: uppercase;
              font-weight: 600;
              cursor: pointer;
              font-size: 12px;
              position: relative;
              transition: .5s ease-in-out; }
            .container-fluid .row__row--sec3 .menu__2 ul li a:hover:before {
              width: 100%; }
            .container-fluid .row__row--sec3 .menu__2 ul li a:hover {
              color: #3e3e3e; }
          .container-fluid .row__row--sec3 .menu__2 ul .li--firt {
            color: #303033; }
          .container-fluid .row__row--sec3 .menu__2 ul .li--last {
            padding-right: 0; }
  .container-fluid .row__row--sec3 {
    max-width: 1240px;
    margin: auto; }
    .container-fluid .row__row--sec3 .carousel {
      position: relative;
      width: 100%;
      margin: auto; }
      .container-fluid .row__row--sec3 .carousel ol {
        position: absolute;
        left: 0;
        bottom: 0;
        margin-left: 0;
        right: unset;
        margin-bottom: 0; }
        .container-fluid .row__row--sec3 .carousel ol li {
          text-decoration: none;
          display: inline-table;
          padding: 22px 25px;
          background: #26262a;
          color: #fff;
          font-size: 12px;
          font-size: 12px;
          text-indent: unset;
          width: unset;
          height: unset;
          margin-right: unset;
          margin-left: unset;
          border-top: unset;
          border-bottom: unset;
          opacity: 1; }
        .container-fluid .row__row--sec3 .carousel ol li.active {
          background: #f8dd5a;
          color: #26262a; }
      .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item {
        display: flex;
        flex-direction: row;
        max-width: 1240px; }
        .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content {
          width: 84%;
          background-image: url(../image/backgound.png);
          background-repeat: no-repeat;
          position: relative; }
          .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title {
            position: absolute;
            top: 50%;
            left: 58%;
            transform: translate(0, -50%); }
            .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title h2 {
              color: #3e3e3e;
              text-transform: uppercase;
              font-weight: 300;
              font-size: 19px; }
              .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title h2 span {
                color: #303033;
                font-weight: 600; }
            .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title button {
              padding: 23px 60px;
              text-transform: uppercase;
              background-color: #0000004f;
              border: none;
              color: #fff;
              font-weight: 600;
              margin-top: 60px;
              font-size: 10px;
              position: relative; }
            .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title button:hover:before {
              width: 100%; }
        .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 {
          width: 16%;
          background: #26262a;
          position: relative; }
          .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            list-style-type: none;
            text-align: center; }
            .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 ul li {
              color: #f8dd5a; }
            .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 ul .li--firt {
              transform: rotate(90deg); }
            .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 ul .li--active {
              background: #fff;
              width: 2px;
              height: 42px;
              margin-top: 55px;
              margin-left: 25px; }
          .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 p {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            color: #f8dd5a;
            bottom: 30px;
            font-size: 12px;
            font-weight: 500; }

.contentBig {
  max-width: 1240px;
  margin: auto; }
  .contentBig .row--section1 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center; }
    .contentBig .row--section1 .row__title {
      padding: 64px 0; }
      .contentBig .row--section1 .row__title h3 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
        color: #303033; }
      .contentBig .row--section1 .row__title p {
        margin-top: 24px;
        text-transform: uppercase; }
  .contentBig .row--section2 {
    height: 231px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px; }
    .contentBig .row--section2 .content {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr; }
      .contentBig .row--section2 .content__p1 {
        grid-column: 1/2;
        background: #26262a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 54px; }
        .contentBig .row--section2 .content__p1 .img__p1 {
          margin-right: 52px; }
        .contentBig .row--section2 .content__p1 .con__p1 {
          padding-right: 55px;
          font-size: 12px;
          margin-top: 15px; }
          .contentBig .row--section2 .content__p1 .con__p1 h5 {
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
            font-size: 12px; }
          .contentBig .row--section2 .content__p1 .con__p1 p {
            font-size: 12px;
            color: grey; }
      .contentBig .row--section2 .content__p2 {
        grid-column: 2/4;
        background: #f8dd5a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 176px; }
        .contentBig .row--section2 .content__p2 .img__p2 {
          margin-right: 114px; }
        .contentBig .row--section2 .content__p2 .con__p2 {
          padding-right: 160px;
          font-size: 12px;
          margin-top: 15px;
          border-right: 1px solid #fff; }
          .contentBig .row--section2 .content__p2 .con__p2 h5 {
            text-transform: uppercase;
            color: #303033;
            font-weight: 600;
            font-size: 12px; }
          .contentBig .row--section2 .content__p2 .con__p2 p {
            font-size: 12px;
            color: #303033; }
  .contentBig .row--section3 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 15px; }
    .contentBig .row--section3 .owl--carousel .owl-nav {
      position: absolute;
      left: 25%;
      bottom: 0%;
      display: block; }
      .contentBig .row--section3 .owl--carousel .owl-nav .owl-prev span {
        font-size: 15px;
        color: #fff; }
      .contentBig .row--section3 .owl--carousel .owl-nav .owl-prev:hover:before {
        width: 100%; }
      .contentBig .row--section3 .owl--carousel .owl-nav .owl-prev:hover span {
        color: #111111; }
      .contentBig .row--section3 .owl--carousel .owl-nav .owl-next span {
        font-size: 15px;
        color: #fff; }
      .contentBig .row--section3 .owl--carousel .owl-nav .owl-next:hover:before {
        width: 100%; }
      .contentBig .row--section3 .owl--carousel .owl-nav .owl-next:hover span {
        color: #111111; }
    .contentBig .row--section3 .owl--carousel .item .content__p1 {
      position: relative;
      grid-column: 1/2; }
      .contentBig .row--section3 .owl--carousel .item .content__p1 button {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px 14px;
        color: #303033;
        background-color: #f8dd5a;
        font-size: 12px;
        text-transform: uppercase;
        border: none;
        font-weight: 600; }
        .contentBig .row--section3 .owl--carousel .item .content__p1 button img {
          padding-left: 40px;
          display: inline-flex;
          width: unset; }
      .contentBig .row--section3 .owl--carousel .item .content__p1 .icon--cart {
        position: absolute;
        top: 0;
        left: 0; }
    .contentBig .row--section3 .owl--carousel .item .content__p2 {
      grid-column: 2/3;
      position: relative; }
      .contentBig .row--section3 .owl--carousel .item .content__p2 button {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px 14px;
        color: #303033;
        background-color: #f8dd5a;
        font-size: 12px;
        text-transform: uppercase;
        border: none;
        font-weight: 600; }
        .contentBig .row--section3 .owl--carousel .item .content__p2 button img {
          padding-left: 40px;
          display: inline-flex;
          width: unset; }
      .contentBig .row--section3 .owl--carousel .item .content__p2 .icon--new {
        position: absolute;
        top: 0;
        left: 0; }
    .contentBig .row--section3 .owl--carousel .item .content__p3 {
      grid-column: 3/4;
      position: relative; }
      .contentBig .row--section3 .owl--carousel .item .content__p3 button {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px 14px;
        color: #303033;
        background-color: #f8dd5a;
        font-size: 12px;
        text-transform: uppercase;
        border: none;
        font-weight: 600; }
        .contentBig .row--section3 .owl--carousel .item .content__p3 button img {
          padding-left: 40px;
          display: inline-flex;
          width: unset; }
      .contentBig .row--section3 .owl--carousel .item .content__p3 .icon--sale {
        position: absolute;
        top: 0;
        left: 0; }
  .contentBig .row--section5 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px; }
    .contentBig .row--section5 .content {
      width: 100%;
      display: flex;
      flex-direction: row;
      position: relative; }
      .contentBig .row--section5 .content__p1 {
        width: 57%;
        position: relative;
        overflow: hidden; }
        .contentBig .row--section5 .content__p1 .background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #30303352; }
        .contentBig .row--section5 .content__p1 .image__moto {
          display: none; }
        .contentBig .row--section5 .content__p1 .moto--active {
          display: block; }
        .contentBig .row--section5 .content__p1 .moto--item2 {
          transform: translateX(100px); }
        .contentBig .row--section5 .content__p1 .display__none {
          display: none; }
        .contentBig .row--section5 .content__p1 .moto--block {
          display: block;
          transform: translateX(0px); }
        .contentBig .row--section5 .content__p1 .content__menu {
          position: absolute;
          background-color: #f8dd5a;
          top: 0;
          left: 0;
          transition: .5s ease-in; }
          .contentBig .row--section5 .content__p1 .content__menu ul {
            list-style-type: none;
            margin-bottom: 0; }
            .contentBig .row--section5 .content__p1 .content__menu ul li {
              display: inline-table;
              font-size: 12px;
              color: #fff;
              text-transform: uppercase;
              font-weight: 700;
              padding: 20px 42px 20px 0;
              cursor: pointer; }
            .contentBig .row--section5 .content__p1 .content__menu ul .li-firt {
              padding-left: 60px; }
              .contentBig .row--section5 .content__p1 .content__menu ul .li-firt span {
                padding: 0 10px; }
            .contentBig .row--section5 .content__p1 .content__menu ul .color__span {
              color: #303033; }
            .contentBig .row--section5 .content__p1 .content__menu ul .li-firt:before {
              content: "";
              border-left: 3px solid black; }
            .contentBig .row--section5 .content__p1 .content__menu ul .li--active {
              padding-left: 35px;
              cursor: pointer; }
              .contentBig .row--section5 .content__p1 .content__menu ul .li--active img {
                padding: 18px;
                border-left: 1px solid black;
                cursor: pointer; }
        .contentBig .row--section5 .content__p1 .content-title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        .contentBig .row--section5 .content__p1 .content-title {
          display: flex; }
          .contentBig .row--section5 .content__p1 .content-title button {
            border: none;
            padding: 25px 55px;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            margin-right: 20px;
            font-size: 12px;
            background: #0000004f;
            position: relative; }
          .contentBig .row--section5 .content__p1 .content-title button:hover:before {
            width: 100%; }
          .contentBig .row--section5 .content__p1 .content-title p {
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 30px; }
      .contentBig .row--section5 .content__p2 {
        width: 43%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 0; }
        .contentBig .row--section5 .content__p2--1 {
          position: relative;
          grid-column: 1/2; }
          .contentBig .row--section5 .content__p2--1 button {
            position: absolute;
            top: 30px;
            left: 30px;
            padding: 25px 60px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            background: #0000004f;
            color: #fff;
            border: none;
            transition: .5s ease-out; }
          .contentBig .row--section5 .content__p2--1 button:hover {
            background: #3e3e3e; }
          .contentBig .row--section5 .content__p2--1 .image__moto {
            display: none; }
          .contentBig .row--section5 .content__p2--1 .moto--active {
            display: block; }
          .contentBig .row--section5 .content__p2--1 .display__none {
            display: none; }
          .contentBig .row--section5 .content__p2--1 .moto--block {
            display: block; }
          .contentBig .row--section5 .content__p2--1 .moto--item2, .contentBig .row--section5 .content__p2--1 .moto--item3 {
            width: 100%;
            height: 260px;
            object-fit: cover; }
        .contentBig .row--section5 .content__p2--2 {
          grid-column: 1/2;
          position: relative; }
          .contentBig .row--section5 .content__p2--2 .image__moto {
            display: none; }
          .contentBig .row--section5 .content__p2--2 .moto--active {
            display: block; }
          .contentBig .row--section5 .content__p2--2 .display__none {
            display: none; }
          .contentBig .row--section5 .content__p2--2 .moto--block {
            display: block; }
          .contentBig .row--section5 .content__p2--2 .moto--item2, .contentBig .row--section5 .content__p2--2 .moto--item3 {
            width: 100%;
            height: 260px;
            object-fit: cover; }
          .contentBig .row--section5 .content__p2--2 button {
            position: absolute;
            top: 30px;
            left: 30px;
            padding: 25px 60px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            background: #0000004f;
            color: #fff;
            border: none;
            transition: .5s ease-out; }
          .contentBig .row--section5 .content__p2--2 button:hover {
            background: #3e3e3e; }
  .contentBig .section--7 {
    margin-bottom: 20px; }
  .contentBig .section8 .content__p1 {
    background: #f8dd5a; }
    .contentBig .section8 .content__p1 .con__p1 h5, .contentBig .section8 .content__p1 .con__p1 p {
      color: #303033; }
  .contentBig .section8 .content__p2 {
    background: #303033; }
    .contentBig .section8 .content__p2 .con__p2 h5, .contentBig .section8 .content__p2 .con__p2 p {
      color: #fff; }
  .contentBig .row--section9 {
    margin-right: 0;
    margin-left: 0; }
    .contentBig .row--section9 .content {
      width: 100%;
      text-align: center;
      background: #fff; }
      .contentBig .row--section9 .content h3 {
        font-size: 18px;
        font-weight: 500;
        color: #303033;
        text-transform: uppercase;
        padding: 70px 0; }
      .contentBig .row--section9 .content p {
        font-size: 14px;
        color: #303033;
        margin-bottom: 60px; }
      .contentBig .row--section9 .content button {
        padding: 20px 65px;
        font-size: 14px;
        margin: 70px 0;
        color: #303033;
        background: #f8dd5a;
        border: none;
        font-weight: 600;
        position: relative;
        z-index: 2;
        transition: .5s ease-in-out; }
      .contentBig .row--section9 .content button:hover:before {
        width: 100%; }
      .contentBig .row--section9 .content button:hover {
        color: #fff; }
  .contentBig .row--section10 .content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 105px 0;
    grid-gap: 30px; }
    .contentBig .row--section10 .content .content__logo {
      text-align: center; }

.handClick {
  transform: translateX(-350px); }

.section789 {
  position: relative;
  z-index: 100; }

.section789:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 20px;
  background: #f0f0f0;
  z-index: -1; }

.foodter {
  max-width: 1440px;
  margin: auto;
  background-color: #26262a; }
  .foodter .fooodter1 {
    width: 100%;
    background: #2c2c31; }
    .foodter .fooodter1 .foodter__sec1 {
      max-width: 1240px;
      margin: auto;
      display: flex;
      flex-direction: row; }
      .foodter .fooodter1 .foodter__sec1 .foodter--sec1 {
        width: 41%; }
        .foodter .fooodter1 .foodter__sec1 .foodter--sec1 ul {
          list-style-type: none;
          padding-left: 45px;
          margin-bottom: 0; }
          .foodter .fooodter1 .foodter__sec1 .foodter--sec1 ul li {
            text-decoration: none;
            display: inline-table;
            font-size: 11px;
            padding: 30px 4px;
            color: #f8dd5a; }
      .foodter .fooodter1 .foodter__sec1 .foodter--sec2 {
        width: 59%; }
    .foodter .fooodter1 .foodter--sec2 {
      text-align: right; }
      .foodter .fooodter1 .foodter--sec2 ul {
        margin-bottom: 0; }
        .foodter .fooodter1 .foodter--sec2 ul li {
          padding: 18px 4px; }
          .foodter .fooodter1 .foodter--sec2 ul li img {
            cursor: pointer; }
  .foodter .foodter2 {
    position: relative;
    max-width: 1240px;
    margin: auto;
    background-color: #26262a;
    display: flex;
    flex-direction: row; }
    .foodter .foodter2__content ul {
      list-style-type: none;
      margin-top: 65px;
      margin-left: 40px; }
      .foodter .foodter2__content ul li {
        font-size: 13px;
        padding-bottom: 24px;
        color: #fff;
        cursor: pointer;
        position: relative; }
      .foodter .foodter2__content ul li:before {
        content: '';
        position: absolute;
        top: 5px;
        left: -15px;
        height: 15px;
        width: 4px;
        background: #f8dd5a;
        transition: .5s ease-in-out;
        opacity: 0; }
      .foodter .foodter2__content ul li:hover:before {
        opacity: 1; }
    .foodter .foodter2 .content--1 {
      width: 20%; }
    .foodter .foodter2 .content--2 {
      width: 20%; }
    .foodter .foodter2 .content--3 {
      width: 20%; }
    .foodter .foodter2 .logo-bottom {
      position: absolute;
      bottom: 27px;
      right: 0; }

a.carousel-control-prev, a.carousel-control-next {
  display: none; }

.background__body {
  position: absolute;
  width: 0%;
  height: 100%;
  background: #3e3e3eab;
  z-index: 99; }

.overlay {
  width: 100%; }

.row.row__row--sec2 .menu.menu--nav {
  display: none; }

@media (max-width: 600px) {
  .container-fluid .row__row--sec2 .menu__2 ul li {
    display: none;
    padding: 20px 22px; }

  .container-fluid .row__row--sec2 .menu__2 ul .li--hid {
    padding: 20px 22px;
    display: block; }
    .container-fluid .row__row--sec2 .menu__2 ul .li--hid a {
      text-decoration: none;
      color: #111111; }

  body {
    position: relative; }

  .container-fluid .row__row--sec2 .menu.menu__fa {
    width: 20rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    transition: .5s ease-in;
    position: absolute;
    z-index: 100;
    top: -10px;
    height: 101vh; }

  .container-fluid .row__row--sec2 .menu__1 {
    width: 100%;
    text-align: center; }

  .container-fluid .row__row--sec2 .menu__2 {
    width: 100%;
    text-align: center; }

  .container-fluid .row__row--sec3 .menu {
    width: 100%;
    display: block; }

  .container-fluid .row__row--sec3 .menu__2 {
    display: none; }

  .container-fluid .row__row--sec3 .menu__1 {
    width: 100%;
    text-align: center; }

  .row.row__row--sec2 .menu.menu--nav {
    display: block;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background: unset;
    transform: translateX(0rem);
    transition: .5s ease-in;
    position: unset;
    z-index: unset;
    z-index: 100; }
    .row.row__row--sec2 .menu.menu--nav .menu__2 {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .row.row__row--sec2 .menu.menu--nav .menu__2 img {
        width: 30px;
        height: 30px;
        cursor: pointer; }
    .row.row__row--sec2 .menu.menu--nav .opacity {
      width: 100%; }

  .menu.menu__fa {
    transform: translateX(-20rem); }

  .menu.menu__fa.handclicknav {
    transform: translateX(0rem);
    width: 100%; }

  .background__body.handclicknav.opacity {
    width: 100%; }

  .container-fluid .row__row--sec2 .menu__1 {
    text-align: left; }

  .container-fluid .row__row--sec3 .menu__1 img {
    padding-top: 0; }

  .container-fluid .row__row--sec2 .menu__1.menu--active {
    text-align: center; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item {
    flex-direction: column; }
    .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content {
      width: 100%; }
    .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 {
      width: 100%;
      height: 100px; }

  .container-fluid .row__row--sec3 .carousel ol li {
    padding: 1px 6px;
    background: #fff;
    margin-right: 5px;
    font-size: 10px; }

  .container-fluid .row__row--sec3 .carousel ol {
    left: 40%;
    bottom: 109px; }

  .caro__item .content img {
    width: 100%;
    height: 300px;
    object-fit: cover; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 p {
    right: 5%;
    left: auto;
    bottom: 20px; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 {
    position: relative; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 ul {
    position: ABSOLUTE;
    top: none;
    left: 5%;
    transform: translate(0, -50%);
    list-style-type: none;
    text-align: none; }
    .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 ul li {
      display: inline-table; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 ul .li--firt {
    transform: rotate(0deg); }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__2 ul .li--active {
    width: 50px;
    height: 2px;
    margin-top: 20px;
    margin-left: 40px; }

  .background--content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    z-index: 90; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title {
    z-index: 98; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title h2 {
    color: #fff; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title h2 span {
    color: #f8dd5a; }

  .container-fluid .row__row--sec3 .carousel ol {
    z-index: 99; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title button {
    background: #ffffff47; } }
@media (max-width: 1400px) and (min-width: 601px) {
  .background--content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    z-index: 90; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%); }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title {
    z-index: 98; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title h2 {
    color: #fff; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title h2 span {
    color: #f8dd5a; }

  .container-fluid .row__row--sec3 .carousel ol {
    z-index: 99; }

  .container-fluid .row__row--sec3 .carousel .carousel__inner .carousel__item .caro__item .content__title button {
    background: #ffffff47; } }
@media (max-width: 1290px) and (min-width: 1101px) {
  .contentBig .row--section2 .content__p2 .con__p2 {
    padding-right: 100px;
    border-right: 1px solid #fff; } }
@media (max-width: 1100px) {
  .contentBig .row--section2 .content {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%; }

  .contentBig .row--section2 .content__p1 {
    grid-row: 1/2; }

  .contentBig .row--section2 .content__p2 {
    grid-row: 2/3;
    grid-column: unset; }

  .contentBig .row--section2 .content__p1 {
    background: #26262a;
    display: unset;
    padding: 0 54px;
    text-align: CENTER;
    padding: 55px 0; }

  .contentBig .row--section2 .content__p1 .img__p1, .contentBig .row--section2 .content__p1 .con__p1 {
    margin-right: 0; }

  .contentBig .row--section2 .content__p1 .con__p1 {
    padding-right: 0; }

  .contentBig .row--section2 .content__p1 .con__p1 {
    margin-top: 40px; }

  .contentBig .row--section2 {
    height: auto; }

  .contentBig .row--section2 .content__p2 {
    display: unset;
    padding: 55px 0;
    text-align: center; }

  .contentBig .row--section2 .content__p2 .img__p2 {
    margin-right: 0; }

  .contentBig .row--section2 .content__p2 .con__p2 {
    padding-right: 0;
    margin-top: 40px; }

  .contentBig .row--section3 .owl--carousel .owl-nav {
    right: 0;
    left: unset; }

  .owl-dots {
    display: none; }

  .section789 .section8 {
    display: none; }
    .section789 .section8 .content .content__p2 {
      background: #f8dd5a; }
      .section789 .section8 .content .content__p2 .con__p2 h5, .section789 .section8 .content .content__p2 .con__p2 p {
        color: #26262a; } }
@media (max-width: 1100px) and (min-width: 601px) {
  .contentBig .row--section3 .owl--carousel .owl-nav .owl-next, .contentBig .row--section3 .owl--carousel .owl-nav .owl-prev {
    padding: 10px 18px !important; }

  .contentBig .row--section3 .owl--carousel .owl-nav {
    right: 0;
    left: unset;
    top: 0;
    bottom: unset;
    margin-top: 0; }

  .contentBig .row--section3 .owl--carousel .item .content__p1 button, .contentBig .row--section3 .owl--carousel .item .content__p3 button, .contentBig .row--section3 .owl--carousel .item .content__p2 button {
    padding: 17px 8px;
    font-size: 10px; } }
@media (max-width: 940px) {
  .contentBig .row--section5 .content {
    flex-direction: column; }

  .contentBig .row--section5 .content__p1 {
    width: 83%;
    margin: auto; }
    .contentBig .row--section5 .content__p1 .content__p1 img {
      width: 100%;
      object-fit: cover; }

  .contentBig .row--section5 .content__p2 {
    width: 83%;
    margin: auto; }
    .contentBig .row--section5 .content__p2 .content__p2--1 img {
      width: 100%;
      object-fit: cover; }
    .contentBig .row--section5 .content__p2 .content__p2--2 img {
      width: 100%;
      object-fit: cover; }

  .contentBig .row--section5 .content__p1 .content-title {
    display: block; }

  .contentBig .row--section5 .content__p1 .content__menu ul .li-firt {
    padding-left: 22px; }

  .handClick {
    transform: translateX(-300px); } }
@media (max-width: 550px) {
  .contentBig .row--section5 .content__p1 .content__menu ul li {
    font-size: 10px;
    font-weight: 500;
    padding: 20px 13px 20px 0; }

  .contentBig .row--section5 .content__p1 .content__menu ul .li--active {
    padding-left: 10px;
    cursor: pointer; }

  .handClick {
    transform: translateX(-180px); }

  .contentBig .row--section5 .content__p1 {
    width: 96%;
    margin: auto; }

  .contentBig .row--section5 .content__p2 {
    width: 96%;
    margin: auto; } }
@media (max-width: 1000px) {
  .container-fluid .contentBig .row--section10 .content {
    padding-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 30px; }
    .container-fluid .contentBig .row--section10 .content .content__logo {
      padding-bottom: 50px; }
    .container-fluid .contentBig .row--section10 .content .logo--4 {
      padding-bottom: 0; }

  .contentBig .row--section9 .content h3 {
    font-weight: 700; } }
@media (max-width: 600px) {
  .foodter .fooodter1 .foodter__sec1 {
    flex-direction: column-reverse; }
    .foodter .fooodter1 .foodter__sec1 .foodter--sec2 {
      width: 100%;
      display: flex;
      justify-content: center; }
    .foodter .fooodter1 .foodter__sec1 .foodter--sec1 {
      width: 100%; }
      .foodter .fooodter1 .foodter__sec1 .foodter--sec1 ul {
        padding-left: 0;
        text-align: CENTER; }
  .foodter .foodter2 {
    flex-direction: column; }
    .foodter .foodter2 .foodter2__content {
      width: 80%;
      margin: auto; }
    .foodter .foodter2 .content--3 {
      margin-bottom: 110px;
      border-bottom: 1px solid grey; }
    .foodter .foodter2 .logo-bottom {
      position: absolute;
      bottom: 40px;
      right: 32%;
      margin-top: 40px; } }
.modal-dialog.modal-dialog-centered {
  max-width: 900px; }

button.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; }

.modal--login {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0; }
  .modal--login .body__siderbar1:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: -1; }
  .modal--login .body__siderbar1 {
    flex: 50%;
    position: relative;
    padding: 20px;
    background-size: cover;
    background-image: url("https://pictures.topspeed.com/IMG/crop/201810/-vinfast-a2-10_800x0w.jpg");
    background-position: center center;
    color: #fff;
    min-height: 540px;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
    z-index: 9999; }
    .modal--login .body__siderbar1 .logo {
      color: #f8dd5a;
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      line-height: 1em; }
    .modal--login .body__siderbar1 .heading {
      text-align: center;
      transition: all 0.6s; }
      .modal--login .body__siderbar1 .heading h2 {
        font-size: 70px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
        font-family: "Baloo"; }
      .modal--login .body__siderbar1 .heading p {
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px; }
  .modal--login .body__siderbar2 {
    flex: 50%;
    position: relative;
    overflow: hidden; }
    .modal--login .body__siderbar2 .form--login {
      background: #fff;
      min-height: 480px;
      margin-top: 30px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
      color: #bbbbbb;
      padding: 30px 0 60px;
      transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
      position: absolute;
      top: 0;
      left: -30%;
      width: 130%;
      overflow: hidden; }
      .modal--login .body__siderbar2 .form--login .login-form {
        padding: 0 40px;
        margin: 0;
        width: 70%;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%); }
        .modal--login .body__siderbar2 .form--login .login-form .form-group {
          margin-bottom: 5px;
          position: relative; }
          .modal--login .body__siderbar2 .form--login .login-form .form-group label {
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            transition: all 0.4s;
            cursor: text;
            z-index: -1;
            transform: translateY(40px); }
          .modal--login .body__siderbar2 .form--login .login-form .form-group .active--label {
            transform: translateY(10px);
            font-size: 10px; }
          .modal--login .body__siderbar2 .form--login .login-form .form-group input {
            background: none;
            outline: none;
            border: none;
            display: block;
            padding: 10px 0;
            width: 100%;
            border-bottom: 1px solid #eee;
            color: #444;
            font-size: 15px;
            font-family: "Montserrat", sans-serif;
            z-index: 1; }
        .modal--login .body__siderbar2 .form--login .login-form .CTA {
          margin-top: 30px; }
          .modal--login .body__siderbar2 .form--login .login-form .CTA input {
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px 30px;
            background: #f8dd5a;
            color: #fff;
            border-radius: 30px;
            margin-right: 20px;
            border: none; }
          .modal--login .body__siderbar2 .form--login .login-form .CTA a {
            font-size: 13px;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
            color: #bbbbbb;
            text-decoration: underline;
            transition: all 0.3s; }
    .modal--login .body__siderbar2 .form-signup {
      background: #fff;
      min-height: 480px;
      margin-top: 30px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
      color: #bbbbbb;
      padding: 30px 0 60px;
      transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
      position: absolute;
      top: 0;
      overflow: hidden;
      z-index: 50; }
    .modal--login .body__siderbar2 .active-signup {
      transform: translateX(-100%);
      left: 0%;
      width: 100%; }
    .modal--login .body__siderbar2 .signup-form {
      padding: 0 40px;
      margin: 0;
      width: 70%;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%); }
      .modal--login .body__siderbar2 .signup-form .form-group {
        margin-bottom: 5px;
        position: relative; }
        .modal--login .body__siderbar2 .signup-form .form-group label {
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          transform: translateY(40px);
          transition: all 0.4s;
          cursor: text;
          z-index: -1; }
        .modal--login .body__siderbar2 .signup-form .form-group .active--label {
          transform: translateY(10px);
          font-size: 10px; }
        .modal--login .body__siderbar2 .signup-form .form-group input {
          background: none;
          outline: none;
          border: none;
          display: block;
          padding: 10px 0;
          width: 100%;
          border-bottom: 1px solid #eee;
          color: #444;
          font-size: 15px;
          font-family: "Montserrat", sans-serif;
          z-index: 1; }
      .modal--login .body__siderbar2 .signup-form .CTA {
        margin-top: 30px; }
        .modal--login .body__siderbar2 .signup-form .CTA input {
          font-size: 12px;
          text-transform: uppercase;
          padding: 5px 30px;
          background: #f8dd5a;
          color: #fff;
          border-radius: 30px;
          margin-right: 20px;
          border: none; }
        .modal--login .body__siderbar2 .signup-form .CTA a {
          font-size: 13px;
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
          color: #bbbbbb;
          text-decoration: underline;
          transition: all 0.3s; }
  .modal--login .opacity--0 {
    left: 0%;
    width: 100%;
    transform: translateX(-100%); }
  .modal--login .opacity--1 {
    left: -30%;
    width: 130%;
    transform: translateX(0%); }
  .modal--login .signup.form-signup.active-signup.opacity--1 {
    left: -30%;
    width: 130%;
    transform: translateX(0%); }
  .modal--login .active-label {
    transform: translateY(10px); }
  .modal--login .modal--login .body__siderbar2 .signup-form .form-group label.active-label {
    transform: translateY(10px); }
  .modal--login span.error {
    color: #f8dd5a;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    right: 0; }

@media (max-width: 768px) {
  .modal--login {
    display: flex;
    flex-direction: column; }
    .modal--login .body__siderbar1 {
      flex: 100%;
      min-height: 250px; }
      .modal--login .body__siderbar1 .heading h2 {
        font-size: 35px; }
    .modal--login .body__siderbar2 {
      flex: 100%;
      min-height: 500px; }
      .modal--login .body__siderbar2 .form-signup {
        margin-top: 0; }

  .modal-dialog.modal-dialog-centered {
    width: 95%;
    margin: auto; }

  button.close {
    z-index: 10000;
    color: #fff; } }
.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #ffffff1f; }

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ffffff1f; }

/*# sourceMappingURL=index.css.map */
